<h1>{{category.name}}</h1>
{{#each posts}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <a href="/post/{{slug}}"><button class="btn btn-success">Read More</button></a>
    <hr>
    <small>Publish Date: {{date}}</small>
  </div>
</div>
{{else}}
<h5>No Posts</h5>
{{/each}}